<% presenter = Entries::ListPresenter.new(self, @entires_scope) %>
<div class="flex mt-2 p-2">
  <%= link_to 'Add a new vehicle', new_entry_path, class: 'btn bg-indigo-600 text-white btn-large' %>
</div>
<div class="mt-4 p-2">
  <%= simple_form_for :search, url: list_path, method: "GET" do |f| %>

    <div class="flex flex-col text-left md:flex-row">
      <%= f.input :start_date, label: 'From', class: 'flex', html5: true, input_html: { class: 'flex form-select mr-4', value: presenter.start_date.to_s }, as: :date, default: Date.today, required: false %>
      <%= f.input :end_date, label: 'To', class: 'flex', html5: true, input_html: { class: 'flex form-select mr-4', value: presenter.end_date.to_s }, as: :date, default: Date.today, required: false %>
      <%= f.input :category, label: 'Entry/Exit', input_html: { class: 'flex form-select mr-4' }, collection: Entry.statuses.keys.map { |a| [a.titleize, a] }, required: false %>
      <%= f.input :state, label: 'Entry/Exit', input_html: { class: 'flex form-select mr-4' }, collection: State.all.map { |a| [a.name, a.id] }, required: false %>
    </div>
    <div class="flex">
      <%= f.submit "Search", class: "mr-2 cursor-pointer rounded shadow inline-block px-2 py-1 bg-indigo-600 text-white mt-4" %>
      <%= link_to "Reset", root_path, class: 'bg-white cursor-pointer rounded shadow inline-block px-2 py-1 mt-4' %>
    </div>
  <% end %>
</div>
<% if presenter.entries.empty? %>
  <div class="bg-white p-4 mt-4  border border-gray-200 shadow rounded-lg mx-auto my-2">
    No logs found on the applied date range
  </div>
<% end %>
<% presenter.entries.each do |e| %>
  <%= render 'vehicle_entry', entry: e %>
<% end %>